/* You can add global styles to this file, and also import other style files */

.ng5-slider .ng5-slider-pointer
{
    background-color: blueviolet !important;
}
.panel-body
{
    background-color: cornsilk;
}
label
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
}